body {
    text-align:center;
    background-color:darkslategrey;
    background-color: green;
    background-size: cover;
}

/*h2 {
    margin:auto;
    margin-top: 100px;
    background-color:blue;
    border-radius:15px;
    width:600px;
    padding:55px;
}

h3 {
    margin: auto;
    background-color: yellow;
    border-radius: 10px;
    padding: 55px
}

h1 {
    font-weight: normal;
    font-size: 80px;
}
*/
#main_title {
    font-size: 100px;
    border: 3px dashed black;
    margin: auto;
    padding: 25px;
    background-color:navy;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(1, 0, 73);
}
#about {
    border-bottom: 10px dashed black;
    margin:auto;
    border-radius: 1px;
}
div {
    margin:auto;
    background-color:cyan;
    border-radius:5px;
    width:auto;
    padding:55px;
    margin-bottom:20px;
}
#main_div {
    background-color:transparent;
    border-radius: 1px;

}
h2 {
    margin:auto;
    border-bottom: 3px solid darkslategray;
    text-shadow: 1px 1px black;
    background-color:#00ffaf;
    border-radius:2px;
}

