body {
    text-align:center;
    background-color:darkslategrey;
    background-color: green;
    background-size: cover;
}

h2 {
    margin:auto;
    margin-top: 100px;
    background-color:blue;
    border-radius:15px;
    width:600px;
    padding:55px;
}

h3 {
    margin: auto;
    background-color: yellow;
    border-radius: 10px;
    padding: 55px
}

h1 {
    font-weight: normal;
    font-size: 80px;
}
